@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/themes/styles.css";

#widget2,
#widget4,
.full-width {
  /* height: 100vh; */
  /* width: 100vw; */
  width: 100% !important;
}

.radix-themes {
  --default-font-family: var(--font-geist-sans);
}

html,
body {
  background-color: #070707;
}

.justify-center {
  justify-items: center !important;
}
